# **Title**: Analyzing Portuguese Bank's Direct Marketing for Term Deposits

#**PROBLEM** **OF** **STATEMENT**


* Prepare a complete data analysis report on the given data.
* Create a predictive model which will help the bank marketing team to know which customer will buy the product.

* Suggestions to the Bank market team to make  customers  buy the product.






#**Source Information:**

Dataset Origin: The dataset is provided by a Portuguese banking institution and covers direct phone call marketing campaigns conducted between May 2008 and November 2010.

#**Description**

The dataset contains both input variables(features) and an output variable(taeget).Here is a brief description of the attributes:

Input Variables:
    1- age: Age of the customer (numeric).
    2- job: Type of job (categorical).
    3- marital: Marital status (categorical).
    4- education: Educational background (categorical).
    5- default: Whether the customer has credit in default (categorical).
    6- housing: Whether the customer has a housing loan (categorical).
    7- loan: Whether the customer has a personal loan (categorical).
    8- contact: Contact communication type (categorical).
    9- month: Last contact month of the year (categorical).
    10- day_of_week: Last contact day of the week (categorical).
    11- duration: Last contact duration in seconds (numeric).
    12- campaign: Number of contacts performed during this campaign (numeric).
    13- pdays: Number of days since the client was last contacted from a previous campaign (numeric).
    14- previous: Number of contacts performed before this campaign (numeric).
    15- poutcome: Outcome of the previous marketing campaign (categorical).
    16- emp.var.rate: Employment variation rate (numeric).
    17- cons.price.idx: Consumer price index (numeric).
    18- cons.conf.idx: Consumer confidence index (numeric).
    19- euribor3m: Euribor 3 month rate (numeric).
    20- nr.employed: Number of employees (numeric).

 OutPut Variable:
    y: Whether the client subscribed to a term deposit (binary: 'yes' or 'no').

#**Task 1 : Prepare a complete data analysis report on the given data.**

In [1]:
from ast import increment_lineno
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

# **Loading Data**

In [8]:
data=pd.read_csv("bank-additional-full.csv")

In [9]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

# **Domain Analysis**

*  The domain of this problem falls within the realm of marketing analytics and customer relationship management (CRM).
*  The dataset contains information related to various attributes of customers, their interactions with previous marketing campaigns, and socio-economic indicators.
*  The bank is trying to understand customer behavior and preferences to optimize its marketing efforts and increase the subscription rate for a term deposit product.